a {
  text-decoration: none;
  box-sizing: border-box;
}

.listagem li:first-of-type {
  text-align: left;
}

#menu_principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 30px 0;
}

#menu_principal ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  margin-top: 50px;
  width: 480px;
  text-align: center;
}

#menu_principal ul li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 320px;
  height: 40px;
  border: 1px solid #ccc;
}

#menu_principal ul li a {
  text-decoration: none;
  color: #000;
  box-sizing: border-box;
  background-color: #b0cedf;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
}

#formulario {
  display: flex;
  text-align: center;
  flex-direction: column;
}

#formulario form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#formulario label {
  margin-left: 7px;
}

#formulario input,
textarea,
select {
  margin: 5px 0;
  max-width: 640px;
  /* height: 40px; */
  border: 1px solid #ccc;
  padding: 5px;
}

#formulario form textarea {
  height: 120px;
}

#formulario form .radio {
  width: 640px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
}
#formulario form .radio label {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  margin-top: 0;
}

#formulario form .radio input {
  height: 20px;
  align-items: center;
}

#formulario form .check {
  display: flex;
  width: 640px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#formulario form .check input {
  height: 20px;
  align-items: center;
}

#formulario form .check label {
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-top: 0;
}

.opcoes {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  width: 640px;
  justify-content: space-between;
}

.selecao {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  /* height: 40px; */
}

.selecao form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
}

/**
** Estilos para o menu em lista do Bootstrap
*/

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
