* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.show-image{
  width: 50%;
  transition-duration: 2s;
  transition-delay: 0.3s;
}

.show-image:hover{
  width: 100%;
  
}

.carousel-img{
  opacity: 0.5;
  background-color: black;
  padding: 25px;
  
}

.subject-img{
  width: 200px;
}


.carousel-item h1{
  color: #333;
}
.carousel-item p{
  color: #333;
}

